<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TodoLists</title>
    <%= render "shared/header" %>
  </head>

  <body class="bg-gray-100">
    <%= render "shared/navbar" %>

    <main class="min-h-screen container mx-auto mt-8">
      <%= yield %>
    </main>

  </body>
</html>
